
<div class="flex">
    <!------ Side bar -->
    <aside id="logo-sidebar"
        class="w-[25%] h-screen transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-color-blue-600 dark:bg-gray-800">

            <div class="mt-4 w-full max-w-sm bg-[#c4c4d2] border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex items-center">
                    <div>
                        <img class="w-[60%] h-[70%] rounded-full dark:opacity-70" src="assets/jemmy.jpg" alt="user's tof" />
                    </div>
                    <div class="mr-12">
                        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                            Jemmy
                        </h5>
                        <span class="text-sm text-gray-500 dark:text-gray-400">
                            responsable pedagogique
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="px-3 pb-4 overflow-y-auto mt-16 text-[#f0be67] dark:bg-gray-800">
                <ul class="space-y-10 text-center font-medium">
                    <li
                        class="flex items-center cursor-pointer p-2 rounded-lg dark:text-white hover:bg-gray-100 hover:text-black dark:hover:bg-gray-700 group">
                        <span  class="flex-1 ml-3 whitespace-nowrap text-3xl">Home</span>
                    </li>
                    <li
                        class="flex items-center p-2 cursor-pointer rounded-lg dark:text-white hover:bg-gray-100 hover:text-black dark:hover:bg-gray-700 group">
                        <span  class="flex-1 ml-3 whitespace-nowrap text-3xl">Planification cours</span>
                    </li>
                    <li
                        class="flex items-center p-2 cursor-pointer rounded-lg dark:text-white hover:bg-gray-100 hover:text-black dark:hover:bg-gray-700 group">
                        <span  class="flex-1 ml-3 whitespace-nowrap text-3xl">Planification session</span>
                    </li>
                    <li
                        class="flex items-center p-2 cursor-pointer rounded-lg dark:text-white hover:bg-gray-100 hover:text-black dark:hover:bg-gray-700 group">
                        <span class="flex-1 ml-3 whitespace-nowrap text-3xl">Sign Up</span>
                    </li>
                </ul>
            </div>
            
            <div class="flex flex-col mt-16 items-center space-y-2">
                <img class="w-[50%] h-[50%] border-4 border-white rounded-full" src="assets/logo.png" alt="school's tof" />
                <h2 class="text-2xl font-medium text-[#f0be67] dark:text-light">
                    Breukh'School
                </h2>
            
            </div>

        </div>
    </aside>

   



    <!-------------  right side  -------------->
    

<div class="p-4  w-[80%] rounded-lg dark:border-gray-700">

    <div class="mb-4">
        <div class="flex items-center justify-center h-24 rounded bg-[#0f0f42] dark:bg-gray-800">
            <p class="text-4xl text-[#f0be67] dark:text-gray-500">
                Planification de cours
            </p>
        </div>
    </div>

    <div class="">
        <!-- component -->
<div class="min-h-screen  bg-gray-100   ">
    <div class="container max-w-screen-lg mx-auto">
      <div>
       
        <div class="bg-color-blue-600 flex justify-center items-center flex-col  rounded shadow-lg  md:p-8 mb-6">  
            <div class="flex justify-between w-[80%] bg-color-rose-600 py-4">

                
                <div class="md:col-span-5">
                  <label for="email">Email Address</label>
                  <input type="text" name="email" id="email" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="email@domain.com" />
                </div>
  
                <div class="md:col-span-3">
                  <label for="address">Address / Street</label>
                  <input type="text" name="address" id="address" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                </div>  
            </div>

            <div class="flex justify-between w-[80%] bg-color-rose-600 py-4">

                
                <div class="md:col-span-5">
                  <label for="email">Email Address</label>
                  <input type="text" name="email" id="email" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="email@domain.com" />
                </div>
  
                <div class="md:col-span-3">
                  <label for="address">Address / Street</label>
                  <input type="text" name="address" id="address" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                </div>  
            </div>

            
        </div>

        
      </div>
  
      
    </div>
  </div>

        
    </div>

    

</div>




</div>

